<!-- <span>
    {{cartItems$ | async | json}}
</span> -->


    @if((cartItems$|async)?.length === 0){
        <div class="row vh-100 align-items-center">
            <h1 class="text-center">Cart is Empty</h1>
        </div>
    }
    @else {

        @for(item of cartItems$ | async; track $index){
            <div class="card  mb-3 w-80">
                <div class="row g-0">
                  <div class="col-md-3 d-flex align-items-center justify-content-center">
                    <img [src]="item.image" class="rounded-start p-2" alt="..." style="height: 10rem; width: 10rem;">
                  </div>
                  <div class="col-md-9">
                    <div class="card-body">
                      <h5 class="card-title">{{item.title.slice(0,20)}}</h5>
                      <p class="card-text">{{item.description.slice(0,40)}}....</p>
                      <h3>{{item.price | currency}}</h3>
                      <button type="button" class="btn btn-danger float-end mb-2" (click)="removeProduct(item.id)">Delete</button>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light" (click)="incrementProduct(item.id)">+</button>
                        <button type="button" class="btn btn-light" ><span>{{item.quantity}}</span></button>
                        <button type="button" class="btn btn-light" (click)="decrementProduct(item.id)">-</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        }
        <h4><span class="badge text-bg-info">Total Price: {{totalPrice$ | async | currency}}</span></h4>
    }   
